{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/old-english-five" rel="stylesheet">
    <title>Resume</title>
</head>
<body>

<div class="pt-1">
    <div class="head-block text-head">
        <strong class="head-resum">This is my resume</strong>
        <br><strong class="head-hi">Hello, I'm</strong> 
        <br><strong class="head-name">Kovalenko Aleksander</strong>
    </div>
    <div class="head-block img-head">
        <img id="img-head" src="{{ imagehead.myimag.url }}">
    </div>
</div>
<div class="pt-2">
    <div class="personal-information">
        <p class="information">Personal information</p>
        {% for info in personal_information %}
            <div class="per-info">
                {% if info.info == 'GitHub' %}
                    <a class="info">{{ info.info }}</a>
                    <a class="data" href="https://github.com/7eleron/">{{ info.data }}</a>
                {% elif info.info == 'CodeWars' %}
                <a class="info">{{ info.info }}</a>
                <a class="data" href="https://www.codewars.com/users/7eleron">{{ info.data }}</a>
                {% else %}
                    <a class="info">{{ info.info }}</a>
                    <a class="data">{{ info.data }}</a>
                {% endif%}
            </div>
        {% endfor %}
    </div>
    <div class="all-skills">
        <p class="skills-name">Skills</p>
        {% for skill in skills %}
            <div class="skills">
                <p>{{ skill }}</p>
                <div class="simple-rating">
                    <span class="active"></span>
                    <span class="active"></span>
                    <span class="active"></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="pt-3">
    <!-- карусель -->
	{% include 'carusel.html' %}
</div>
</body>
</html>