body {
    background-color: #e9e9e9;
    font-family: 'Nunito Sans';
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.pt-1 {
    background-color: white;
    border-radius: 10px;
    margin: 25px 20px 10px 20px;
    padding: 0px;
    height: auto;
    width: 600px;
}
.pt-2 {
    background-color: white;
    border-radius: 10px;
    margin: 25px 20px 10px 20px;
    padding: 30px;
    height: auto;
    width: 540px;
}
.pt-3 {
    background-color: white;
    border-radius: 10px;
    margin: 25px 20px 10px 20px;
    padding: 10px;
    height: 200px;
    width: 580px;
}
.head-block {
    display: inline-block;
}
.text-head {
    color: black;
    width: 350px;
    height: auto;
    text-align: center;
}
.head-hi{
    font-size: 20px;
}
.head-name{
    font-size: 25px;
}
.head-resum{
    font-size: 30px;
    font-family: 'Old English Five';
}
.img-head {
    filter: grayscale(100%);
    width: 150px;
    height: 150px;
    float: right;
    margin: 0px 30px 0px 0px;
}
#img-head {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.personal-information{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    color: black;
    float: left;
}
.all-skills {
    width: 200px;
    color: black;
    float: right;
}
.skills {
    float: left;
    margin: 2px;
    width: 200px;
}
.skills p{
    display: inline-block;
    margin: 0%;
    
}
.information {
    font-size: 30px;
    margin: 0;
}
.skills-name {
    font-size: 30px;
    margin: 0;
}
.simple-rating {
    display: inline-block;
    float: right;
}
.simple-rating span {
    font-size: 15px;
    margin-left: 5px; 
    line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.simple-rating > span:before {
    content: '★';
}
.simple-rating > span.active {
    color: gold;
    text-shadow: 1px 1px #c60;
}
